{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": true,
      "decorators": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2022",
    "externalHelpers": false,
    "keepClassNames": true,
    "loose": false,
    "minify": {
      "compress": false,
      "mangle": false
    },
    "baseUrl": "src",
    "paths": {
      "@/*": ["*"],
      "@/configs/*": ["shared/configs/*"],
      "@/components/*": ["components/*"],
      "@utils/*": ["shared/utils/*"],
      "@shields/*": ["shared/shields/*"],
      "@shared/*": ["shared/*"],
      "@/helpers*": ["shared/helpers/*"],
      "@/interfaces/*": ["shared/interfaces/*"],
      "@/middlewares/*": ["shared/middlewares/*"],
      "@/decorators/*": ["shared/decorators/*"],
      "@/services/*": ["shared/services/*"],
      "@/constants/*": ["shared/constants/*"],
      "@/validations/*": ["shared/validations/*"]
    }
  },
  "module": {
    "type": "commonjs"
  }
}    
